Chapter09/Notification/NotificationSimulator/Service References/Services/NotificationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18558/NotificationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18558/NotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18558/NotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WpNotificationService" />
      <xsd:import schemaLocation="http://localhost:18558/NotificationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationService_SendToast_InputMessage">
    <wsdl:part name="parameters" element="tns:SendToast" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SendToast_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendToastResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SendTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTitle" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SendTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTitleResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SendRaw_InputMessage">
    <wsdl:part name="parameters" element="tns:SendRaw" />
  </wsdl:message>
  <wsdl:message name="INotificationService_SendRaw_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendRawResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="INotificationService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:portType name="INotificationService">
    <wsdl:operation name="SendToast">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/SendToast" message="tns:INotificationService_SendToast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/SendToastResponse" message="tns:INotificationService_SendToast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/SendTitle" message="tns:INotificationService_SendTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/SendTitleResponse" message="tns:INotificationService_SendTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendRaw">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/SendRaw" message="tns:INotificationService_SendRaw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/SendRawResponse" message="tns:INotificationService_SendRaw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/Subscribe" message="tns:INotificationService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/SubscribeResponse" message="tns:INotificationService_Subscribe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotificationService" type="tns:INotificationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendToast">
      <soap:operation soapAction="http://tempuri.org/INotificationService/SendToast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTitle">
      <soap:operation soapAction="http://tempuri.org/INotificationService/SendTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRaw">
      <soap:operation soapAction="http://tempuri.org/INotificationService/SendRaw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://tempuri.org/INotificationService/Subscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port name="BasicHttpBinding_INotificationService" binding="tns:BasicHttpBinding_INotificationService">
      <soap:address location="http://localhost:18558/NotificationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>