Chapter09/Notification/WPNotificationClient/Service References/Services/NotificationService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18558/NotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WpNotificationService" />
  <xs:import schemaLocation="http://localhost:18558/NotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SendToast">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WpNotificationService" minOccurs="0" name="toast" nillable="true" type="q1:Toast" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendToastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WpNotificationService" minOccurs="0" name="SendToastResult" nillable="true" type="q2:ArrayOfNotificationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WpNotificationService" minOccurs="0" name="title" nillable="true" type="q3:Title" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WpNotificationService" minOccurs="0" name="SendTitleResult" nillable="true" type="q4:ArrayOfNotificationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRaw">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WpNotificationService" minOccurs="0" name="raw" nillable="true" type="q5:Raw" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WpNotificationService" minOccurs="0" name="SendRawResult" nillable="true" type="q6:ArrayOfNotificationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q7:guid" />
        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>